# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# version control
.git
.gitignore

# docker
docker-compose*
compose.y*ml
Dockerfile*
.dockerignore

# project specific
*.local

# build artifacts
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm

# miscellaneous
**/charts
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md